@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #f4f3ee;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #1d3557;
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
}

#img-caption {
    padding: 2rem;
    font-weight: 300;
}

#tribute-info {
    margin: 3rem 0;
}

#tribute-info h3 {
    font-size: 2.1rem;
    font-weight: 600;
}

.timeline_icon {
    border: 0;
    float: left;
    text-align: center;
    height: 3.5rem;
    width: 6rem;
    font-size: 2.2rem;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 1.5rem;
}

.timeline_icon:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -1.5rem;
}

.timeline_icon:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -1.5rem;
}

.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 2rem;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -21px;
    background: rgb(213, 213, 213);
    background: -moz-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -o-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -ms-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    z-index: 5;
}

.timeline li {
    padding: 2em 0;
}

.timeline .timeline_icon {
    width: 16px;
    height: 10px;
    position: absolute;
    background: #3a86ff;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    margin-top: 0;
}

.timeline .timeline_icon:before {
    border-bottom: 4px solid #3a86ff;
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
}

.timeline .timeline_icon:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid #3a86ff;
    bottom: -.4rem;
}

.timeline_content {
    width: 100%;
    text-align: center;
}

.content_wrapper {
    text-align: center;
    position: relative;
}

.timeline_title {
    position: relative;
    display: inline;
    background: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 15;
    padding: 1.4rem 2rem;
    text-align: left;
    border-radius: 5px;
}

.timeline_content .timeline_title:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -1.5rem;
    height: 0;
    width: 0;
    margin-left: -.8rem;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
}

.timeline_content .timeline_title {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: .4rem 0 0 0;
    z-index: 14;
    font-size: 1.5rem;
    line-height: 1.2;
    vertical-align: middle;
    color: #fff;
}

.timeline_content .time-wrapper {
    float: none;
}

.time {
    background: #3a86ff;
    display: inline-block;
    padding: .65rem 1.4rem;
}

.description {
    line-height: 1.7;
    position: relative;
    margin: 1.6rem 0 0 0;
    padding: 1.6rem;
    background: rgb(254, 254, 254);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    z-index: 15;
}

.awards {
    line-height: 2;
}

.timeline_content .description {
    position: relative;
    margin: 1.6rem 0 0;
    padding: 1.6rem;
    z-index: 15;
}

.further_reads {
    margin: 3rem 0;
}

.further_reads a {
    line-height: 2;
}

blockquote {
    font-size: 2.1rem;
    margin: 5rem auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 2rem 3rem 2rem 5rem;
    border-left: 8px solid #3a86ff;
    line-height: 1.6;
    position: relative;
    background: #ffffff;
    max-width: 60rem;
    width: 100%;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(0, 0, 0, 0.075);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(0, 0, 0, 0.075);
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #3a86ff;
    line-height: 1.6;
    font-size: 10rem;
    position: absolute;
    left: 1rem;
    top: -2.4rem;
}

blockquote::after {
    content: '';
}

cite {
    display: block;
    color: #333333;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 2rem;
}

@media(max-width: 76.7rem) {
    #main {
        margin: 0;
        padding: 1.6rem;
    }

    #img-div {
        margin: 2rem 0;
        background-color: #ffffff;
    }

    .timeline:before {
        left: 50%;
        margin-left: 0;
    }

    .timeline_title {
        display: block;
        text-align: center;
    }
}

@media(min-width: 76.8rem) {
    #main {
        margin: 0;
        padding: 2.4rem;
    }

    #img-div {
        margin: 2rem 0;
        background-color: #ffffff;
    }

    .timeline {
        width: 66rem;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .timeline .timeline_icon {
        left: -2.8rem;
        right: auto;
        top: .8rem;
    }

    .timeline_content {
        position: relative;
        width: 70rem;
        text-align: left;
    }

    .content_wrapper {
        display: inline-block;
    }

    .timeline_title {
        font-size: 1.6rem;
        font-weight: 600;
        padding: .7rem 1.6rem;
    }

    .timeline_content .timeline_title:after {
        top: 50%;
        margin-top: -.8rem;
        border: solid transparent;
        border-right-color: rgb(254, 254, 254);
        border-width: 8px;
        left: -.8rem;
    }

    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0;
    }

    .timeline_content .time-wrapper {
        display: block;
        text-align: left;
        margin-top: .5rem;
        margin-left: .5rem;
    }

    .time {
        padding: .65rem 1.6rem;
    }

    .timeline_content .description {
        margin: 1.6rem 1.6rem 0 0;
    }
}

@media(min-width: 128rem) {
    #main {
        width: 100%;
        max-width: 100%;
    }

    #img-div {
        margin: 2.4rem 2rem;
        background-color: #ffffff;
    }

    .timeline {
        width: 108rem;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .timeline_content {
        position: relative;
        width: 100%;
        text-align: left;
    }
}