@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #f4f3ee;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #1d3557;
    line-height: 1.5;
    text-align: center;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
